[submodule "Ch-aronte"]
	path = Ch-aronte
	url = git@github.com:Ch-aOS-Ch/Ch-aronte
[submodule "external_plugins/chaos-dots"]
	path = external_plugins/chaos-dots
	url = git@github.com:Ch-aOS-Ch/chaos-dots
[submodule "external_plugins/chaos-secrets"]
	path = external_plugins/chaos-secrets
	url = git@github.com:Ch-aOS-Ch/chaos-secrets
